@mixin basic {
  display: flex;
  align-items: center;
  padding-left: 30px;
  overflow: hidden;
  transition: all 0.5s;
}

.AccordionDoubleItem {
  .AccordionDoubleItem-head {
    background-color: #2e2e2e;
    color: #fff;
    cursor: pointer;
    @include basic;
  }

  .AccordionDoubleItem-body {
    background-color: gray;
    color: wheat;
    @include basic;
    height: 0;
    padding-left: 30px !important;
  }
}
