@mixin basic {
  display: flex;
  align-items: center;
  padding-left: 30px;
  overflow: hidden;
}

.AccordionDoubleItem {
  .AccordionDoubleItem-head {
    background-color: #2e2e2e;
    color: #fff;
    @include basic;

    height: 60px;
  }

  .AccordionDoubleItem-body {
    background-color: gray;
    color: wheat;
    @include basic;

    height: 60px;
  }
}
